# Intro to find your soulmate
Calculates the number of matching answers between participants and adds the most similar participant(s) as last column.  
Download results of survey as data.csv

In [105]:
import pandas as pd
import numpy as np

In [106]:
df = pd.read_csv("data/data.csv")

In [107]:
df = df.drop("Timestamp",errors="ignore",axis=1)
col = df.pop("Name:")
df.insert(0,"name",col) # Name as first column

In [108]:
df = df.set_index(df.name)

In [109]:
df.head()

,name,Cold pizza or cold burger?,Crunchy or creamy peanut butter?,Cat or Dog?,Coffee or Tea,Star Trek vs Star Wars,Beach or mountains?,Shower before or after bed?,Coke or Pepsi,Salty or sugary popcorn
name,,,,,,,,,,
Jan,Jan,Cold pizza,Crunchy,Dog,Coffee,Star Wars,Mountains,Before,Coke,Salt
Shahi,Shahi,Cold burger,Creamy,Cat,Coffee,Star Trek,Beach,After,Coke,Salt
Larissa,Larissa,Cold burger,Creamy,Cat,Coffee,Star Trek,Mountains,Before,Coke,Sugar
Ana,Ana,Cold pizza,Crunchy,Dog,Coffee,Star Wars,Beach,After,Coke,Salt
Grace,Grace,Cold pizza,Crunchy,Cat,Tea,Star Wars,Beach,Before,Coke,Sugar

In [110]:
df.name

name
Jan            Jan
Shahi        Shahi
Larissa    Larissa
Ana            Ana
Grace       Grace
Name: name, dtype: object

In [111]:
z_arr = np.zeros((df.shape[0],df.shape[0]), int)

mat = pd.DataFrame(z_arr, columns=df.name,index=df.name)

In [112]:
for name1 in df.name:
    matches = []
    for name2 in df.name:
        matches.append(sum(df.loc[name1] == df.loc[name2]))
    mat.loc[name1] = matches

In [ ]:
# Alternative to the code block above using numpy broadcasting suggested by ChatGPT.

# df_array = df.to_numpy()
# matching_matrix = np.sum(df_array[:, None, :] == df_array[None, :, :], axis=2)
# matching_matrix

In [113]:
mat

name     Jan  Shahi  Larissa  Ana  Grace
name
Jan       10      3        4    7       5
Shahi      3     10        6    5       3
Larissa    4      6       10    2       4
Ana        7      5        2   10       5
Grace      5      3        4    5      10

In [114]:
np.fill_diagonal(mat.values,0) # Set diagonal to 0 so that max() works.

In [115]:
max_li = []
for name in mat.columns:
    mat.loc[name] == mat.loc[name].max()
    max_li.append(mat.columns[mat.loc[name] == mat.loc[name].max()].tolist())
mat["best_match"] = max_li

# Loop instead of idmax() so that ties can be seen.

In [116]:
mat

name     Jan  Shahi  Larissa  Ana  Grace   best_match
name
Jan        0      3        4    7       5       [Ana]
Shahi      3      0        6    5       3   [Larissa]
Larissa    4      6        0    2       4     [Shahi]
Ana        7      5        2    0       5       [Jan]
Grace      5      3        4    5       0  [Jan, Ana]